# Maven build folders
target/

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.project
.classpath
.settings/

# NetBeans user configuration
nbactions.xml
nb-configuration.xml

# Python runtime files
*.py[co]
