<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ANTLR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTLRTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fuzzy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LL-start.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>combined.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hoistedPredicates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lexertest-simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>polydiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>scopes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>simplecTreeParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>treeparser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>treerewrite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A63BC60134F5DAB002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD31134F5F1E002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD3E134F5F36002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD4B134F5F43002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD58134F5F4D002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD65134F5F5E002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD72134F5F67002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BD7F134F5F71002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BDD3134F6233002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A63BDFB134FB75E002EDFB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE72317134E860B001C3F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE7232C134E860B001C3F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
